{% extends '::base.html.twig' %}

{% block title %}Add Book{% endblock %}
{% block article %}
    <h2>Add Book</h2>
    <form action="{{ path('book_create') }}" method="post" accept-charset="utf-8" role="form" {{ form_enctype(form) }} >

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="form-group">
            {{ form_label(form.author) }}
            {{ form_widget(form.author, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.author) }}
        </div>

        <div class="form-group">
            {{ form_label(form.summary) }}
            {{ form_widget(form.summary, { 'attr': {'class': 'form-control', 'rows': '5'} }) }}
            {{ form_errors(form.summary) }}
        </div>

        <div class="form-group">
            {{ form_label(form.edition_date) }}
            {{ form_widget(form.edition_date) }}
            {{ form_errors(form.edition_date) }}
        </div>

        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>

        {{ form_rest(form) }}

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
