{% extends '::base.html.twig' %}

{% block title %}List Book{% endblock %}

{% block article %}
    <h2>
        Book list
        <di class="pull-right">
            <a href="{{ path('book_add') }}" class="btn btn-sm btn-info">Add Book's</a>
        </di>
    </h2>
    <section class="col-log-12">
        <ul class="book-list">
            {% for book in books %}
            <li class="book-item">
                <div class="book-image">
                    <img src="{{ asset('uploads/images/' ~ book.image ) }}">
                </div>
                <h3>{{ book.title }} <small>{{ book.author }}</small></h3>
                <p>{{ book.summary }}</p>

                <span>{{ book.editionDate|date("m/d/Y") }}</span>
                <footer>
                    <a href="{{ path('book_edit', { 'id': book.id }) }}" title="Edit" class="btn btn-xs btn-primary">Editar</a>
                </footer>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
